{{- if eq .chezmoi.os "linux" -}}
{{-   $idLike := "" -}}
{{-   if hasKey .chezmoi.osRelease "idLike" -}}
{{-     $idLike = .chezmoi.osRelease.idLike -}}
{{-   end -}}
{{-   if or (eq .chezmoi.osRelease.id "debian") (contains "debian" $idLike) -}}
#!/bin/sh
set -eu

sudo=""
if [ "$(id -u)" -ne 0 ]; then
	sudo="sudo"
fi

$sudo apt-get update
$sudo env DEBIAN_FRONTEND=noninteractive apt-get install -y {{ .packages.debian | join " " }}
{{    end -}}
{{- end -}}
